# Executáveis e Binários compilados
*.exe
*.dll
*.so
*.dylib
*.bin
*.out
*.app

# Arquivos de unidades compiladas do Free Pascal
*.ppu
*.o
*.a
*.rst
*.or
*.res

# Arquivos temporários e de configuração do Lazarus / FPC
*.lps
*.bak
*.compiled
*.manifest
*~

# Arquivos de uso do debugger
*.dbg
ppas.bat

# Diretórios de saída comuns (caso você configure o projeto para salvar nelas)
lib/
backup/
bin/

# Arquivos temporários diversos
~$*

# Arquivos de log
*.log

# Arquivos executáveis para Linux (deve ser usado o nome exato dos arquivos)
nfeminima_emite

# Pastas de conteúdo variável que não deve ser comitado, ou de testes, ou ainda que sejam exclusivos para produção
PDFs/
cert/
Logs/
NFe/
Schemas/